.advanced-variant-item-container {
  width: 61px;
}

.advanced-variant-image-active {
  color: #4583ed;
  text-decoration: underline;
}

.variant-color {
  height: 42px;
  width: 42px;
  background-color: #fff;
  border-radius: 100%;
  border: 3px solid #e9e9e9;
  cursor: pointer;
  overflow: hidden;
  transform: rotate(225deg);
  display: block;
  margin: 0 auto 3px;
}

.variant-color {
  --hvid: #fff;
  --sort: #000;
  --antrasit-grå: #383e42;
  --brun: #804000;
  --grå: #666;
  --metallisk: #aaa9ad;
  --metallisk-brun: #ac4313;
  --rød: #b30000;
  --blå: #000099;
  --grøn: #00b300;
}

.advanced-variant-image-active .variant-color {
  box-shadow: 0 0 0 3px #4583ed;
}

.variant-color span{
  display: block;
  width: 50%;
  height: 100%;
  float: left;
}

.advanced-variant-item-container input {
  appearance: none;
}