/* Produktkort */

html {
    --white: #fff;
    --black: #000;
    --graytext: #646464;
    --border: #d0d0d0;
    --border-warning: #721c24;
    --hover: #e8e8ed;
    --selected: #d2d2d7;
    --fnp-blue: #4583ed;
    --fnp-green: #78bd3f;
    --fnp-orange: #ff9100;
}

/* Topbar */
.topbar {
    border-bottom: 1px solid var(--border);
    height: 75px;
}

/* Produktkort */

.smalltext {
    font-size: 12px;
    color: var(--graytext);
}

.inventory-container {
    font-size: 14px;
}

.inventory-item {
    border: 1px solid var(--fnp-green);
    border-radius: 5px;
    padding: 5px 10px 3px;
    background-color: var(--white);
}

.inventory-item-low-stock {
    border-color: var(--fnp-orange);
}

.inventory-item-no-stock {
    border-color: var(--border-warning);
}

.inventory-item-freight {
    border-color: var(--fnp-blue);
}

.inventory-item-header {
    font-weight: bold;
}

.inventory-smalltext {
    padding-top: 10px;
}

.amountWrapper {
    border: 1px solid var(--border);
    border-radius: .25rem;
    display: inline-flex;
}

.amountWrapper button {
    appearance: none;
    background-color: transparent;
    border: none;
    width: 34px;
    cursor: pointer;
    position: relative;
}

.amountWrapper button:hover {
    background-color: var(--hover);
}

.amountWrapper input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    box-sizing: border-box;
    border: solid var(--border);
    border-width: 0 1px;
    padding: 5px;
    max-width: 60px;
    font-size: 16px;
    text-align: center;
}

.amountWrapper button::after,
.amountWrapper button::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background-color: var(--graytext);
    transform: translate(-50%, -50%);
}

.amountWrapper button#plus::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.buy-button {
    cursor: pointer;
}



.product-images #Canvas div {
    display: flex;
    justify-content: center;
}

.product-images #Canvas img {
    max-width: 100%;
}

.product-images #Selector {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.product-images #Selector img {
    height: 60px;
    max-width: 60px;
    flex: 0 0 100%;
    border-radius: 1px;
    padding-bottom: 5px;
    box-sizing: content-box;
}

.product-images .MediaLinkHover_ProductInfo {
    border-bottom: 2px solid var(--hover);
}

.product-images .MediaLinkSelected_ProductInfo {
    border-bottom: 2px solid var(--selected);
}

/* Medium devices */
@media (min-width: 768px) {
    .product-images #Canvas {
        height: 525px;
    }
}