/* Produktkort */

html {
    --border: #d0d0d0;
    --hover: #e8e8ed;
    --selected: #d2d2d7;
}

/* Produktkort */

.smalltext {
    font-size: 12px;
    color: #646464;
}

.inventory-container {
    font-size: 14px;
}

.inventory-item {
    border: 1px solid #78bd3f;
    border-radius: 5px;
    padding: 5px 10px 3px;
    background-color: #fff;
}

.inventory-item-low-stock {
    border-color: #ff9100;
}

.inventory-item-no-stock {
    border-color: #721c24;
}

.inventory-item-freight {
    border-color: #4583ed;
}

.inventory-item-header {
    font-weight: bold;
}

.inventory-smalltext {
    padding-top: 10px;
}

.product-images #Canvas {
    height: 525px;
}

.product-images #Canvas div {
    display: flex;
    justify-content: center;
}

.product-images #Selector {
    display: flex;
    gap: 5px;
    height: 200px;
    justify-content: center;
}

.product-images #Selector img {
    height: 60px;
    max-width: 60px;
    flex: 0 0 100%;
    border-radius: 1px;
    padding-bottom: 5px;
    box-sizing: content-box;
}

.product-images .MediaLinkHover_ProductInfo {
    border-bottom: 2px solid var(--hover);
}

.product-images .MediaLinkSelected_ProductInfo {
    border-bottom: 2px solid var(--selected);
}

.Description_Productinfo {
    color: beige;
}