UPLOAD_ENABLED=false
DATA_DIR=./data

FTP_HOST=ftp.example.com
FTP_PORT=21
FTP_USERNAME=
FTP_PASSWORD=
FTP_USE_TLS=false

IMAGE_FTP_DIR=/images/products/
IMAGE_PUBLIC_URL_PREFIX=/images/products/
XML_FTP_DIR=/images/ImportExport/Products/Updated/
XML_FILE_NAME=document.xml
XML_IMPORT_FILE_PARAM=Products/Updated/document.xml

API_UPLOAD_ENDPOINT=https://example.com/import
API_USERNAME=
API_PASSWORD=

LANGUAGE_ID=26
CURRENCY_CODE=DKK
PRICE_B2B_ID=0

COMPRESSION_BACKEND=pillow
JPEG_QUALITY=88
MAGICK_COMMAND=magick
CAESIUM_COMMAND=caesiumclt

CHROME_BIN=
SELENIUM_DRIVER_PATH=
SELENIUM_TIMEOUT_SECONDS=15
REQUEST_TIMEOUT_SECONDS=30
